include ./header.pug

main.mt-4
  each entrie in entries
    .card.mb-4
      .card-header.d-flex.justify-content-between
        b= entrie.title
        div= entrie.published
      .card-body
        p.card-text= entrie.content
